language: node_js
node_js:
- '4'
- '6'
script:
  - npm run lint
  - npm test --coverage

env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
